<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/users.css">
    <title>Usuarios</title>
</head>

<body>
<div class="container">
    <h1>Seleccionar usuario</h1>

    <% if (currentUserRole === 'admin') { %>
        <a href="/admin/users" class="add-user-btn">Administrar Usuarios</a>
    <% } %>

    <div class="user-selection">
        <% users.forEach((user) => { %>
            <div class="user-card" onclick="setCookie('user_id', '<%= user.id %>', 1)">
                <img src="/images/xoaco.png" alt="<%= user.username %>" style="max-width: 150px;">
                <p>
                    <%= user.username %>
                </p>
                <p><strong>Email:</strong> <%= user.email %></p>
                <p><strong>Rol:</strong> <%= user.user_role %></p>
                <button class="add-user-btn"
                        onclick="event.stopPropagation(); location.href='/user/edit?id=<%= user.id %>&username=<%= user.username %>&name=<%= user.name %>&email=<%= user.email %>'">Editar</button>
            </div>
        <% }) %>
    </div>
    <% if (currentUserRole === 'admin') { %>
        <button id="add-button" class="add-user-btn" onclick="location.href='/user/add'">Agregar usuario</button>
    <% } else { %>
        <p class="warning">No tienes permisos para agregar usuarios.</p>
    <% } %>
</div>
<script>
    function setCookie(name, value, days) {
        const d = new Date();
        d.setTime(d.getTime() + (days * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = name + "=" + value + ";" + expires + ";path=/";
        location.reload();
    }
</script>
</body>

</html>